@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.radial-gradient-hero {
  background-color: radial-gradient(circle at center, rgba(82, 255, 255, 0.1), rgba(12, 143, 143, 0.1));
}

.navbar {
  height: 60px;
}

.sidebar-mini {
  width: 80px;
}

::-webkit-scrollbar {
  width: 0 !important;
  /* For Chrome, Safari, and Opera */
}

/* Optional: For Firefox */
html {
  scrollbar-width: none !important;
}

.sidebar-large {
  width: 220px;
}

.page-container {
  height: calc(100vh - 60px);
  overflow: hidden;
}